.row--menu-row .rowContainer {
  align-items: center;
}

.row--payment-methods {
  padding-top: 16px;
}

.footerLayout--container-footer {
  background-color: #000000;

}

@media screen and (max-width: 426px) {
  .footerLayout--container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}