.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround,
.skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.brandName {
  font-weight: 600;
  font-size: 18px;
  color: #2E2E2E;
}

.container {
  text-align: start;
  border: 1px solid #2E2E2E;
  border-radius: 0px;
  height: 32em;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

.buyButtonContent {
  background-color: #000000;
}

.element {
  padding: 0;
}

.priceContainer {
  align-items: flex-start;
}
.buyButtonText--buy-button{
  font-size: 12px;
}

.buyButtonText--buy-button::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url('https://cdn-icons-png.flaticon.com/512/9341/9341730.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}
@media screen and (max-width: 426px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 30em;
    width: 10em;
  }
}